{% extends 'layout.html.twig' %}

{% block title %}
  Create task
{% endblock %}

{% block page_contents %}
  <div class="row">
    <h3>
      Create Task
    </h3>
    <div class="col-4" style="margin-top: 20px !important">
      {{ form(form) }}
    </div>
  </div>
{% endblock %}
